*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

.full_screen{
    height: 100%;
    background-color: #c8edff;
}

.chat-screen{
    height: calc(100% - 90px);
}
.chat-screen-bar{
    background-color: white;
    padding: 16px;
    height: 80px;
}
.room-picture{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #c8edff;
}
.room-info{
    float: left;
}
.room-name, .room-count{
    margin: 5px;
}
.room-count{
    font-size: 12px;
    color: gray;
}

.chat-form{
    height: 90px;
    background-color: #fff;
}

.chat-form-text{
    float: left;
    width: calc(100% - 90px);
    height: 90px;
    resize: none;
    border: none;
    font-size: zxpx;
    padding: 10px;
}

.chat-form-text:focus{
    outline: none;
}

.chat-form-button{
    margin: 20px 10px;
    float: right;
    width: 70px;
    height: 50px;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    background-color: #7dd2fd;
    font-size: 12px;
}

.chat-form-button:active{
    background-color: #4cabdb;
}