.banner_box{
    margin: 8rem auto 3rem auto;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 1.5rem;
    background-color: rgba(125, 125, 0, 0.197);
}

.banner-text{
    margin-left: 2rem;
}
.banner-text h3{
    margin: 0 0 5px 0;
}
.banner-button{
    margin: 0 1.5rem 0 0;
    padding: 0.7rem 0.8rem;
    line-height: 1.4;
    background-color: olivedrab;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}

@media screen and (max-width: 720px){
    .banner_box{
        padding: 1.5rem 10px 1.5rem 1.2rem;
    }
    .banner-text{
        margin-left: 2px;
    }
    .banner-text h3{
        font-size: 1rem;
    }
    .banner-text span{
        font-size: 0.8rem;
    }
    .banner-button{
        font-size: 10px;
        margin-right: 8px;
        padding: 0.5rem 0.6rem;
    }
}

