header.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    color: rgb(49, 49, 49);
}

.header-content {
    width: 100%;
    max-width: 60rem;
    height: 3.5rem;
    padding: 1rem 1rem;
    margin: auto;
    
    justify-content: space-between;
}

.header-content_logo{
    color: rgb(128, 128, 0);
    font-size: 1.5rem;
    font-weight: 700;
    
    height: 1em;
    margin-right: 30px;
    line-height: 20px;
    
    flex-shrink: 0;
    }
    
    .header-content_nav{
    align-items: center;
    padding: 0;
    flex-grow: 1;
    }
    
    .header-content_nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    }
    
    .header-content_nav ul li{
    display: inline-block;
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 700;
    }
    
    .header-content_nav ul li.active{
    color: rgb(128, 128, 0);
    }
    
    .header-content_input{
    justify-content: center;
    align-items: center;
    }
    
    .header-content_input .search{
    width: 15rem;
    height: 2rem;
    margin-right: 10px;
    padding: 0.25rem 0.5rem;
    background-color: rgba(102, 102, 102, 0.162);
    border: none;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    }

    .header-content .chat{
        line-height: 1.1;
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        background-color: white;
        border: 0.5px solid rgba(102, 102, 102, 0.509);
        border-radius: 0.25rem;
        font-weight: 700;
    }

.header-content_input .icon input{
    margin-right: 1rem;
    border: none;
    padding: 5px 10px;
    font-size: 1.4rem;
    background-color: transparent;
}

.header-content_input .icon{
    display: none;
}

@media screen and (max-width: 1045px){
    .header-content_input .search{
        display: none;
    }
    .header-content_input .glass{
        display: block;
    }
}
@media screen and (max-width: 720px){
    .header-content_input .chat, .header-content_nav{
        display: none;
    }
    .header-content_input .menu{
        display: block;
    }
}
