/* 메인 목차부터 상점 정보 전체 부분 */
.main_box{
    max-width: 50rem;
    height: 61rem;
    margin: auto;
    padding: 0 10px;
    justify-content: center;
}

/* 중간 목차 부분 */
.main-info{
    width: 100%;
    height: 9rem;
}
.main-info_name{
    margin: 0;
    padding: 3.5rem 0 2rem;
    margin: auto;
    font-size: 1.7rem;
    text-align: center;
}
.main-info_nav{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-info_nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.main-info_nav ul li{
    display: inline-block;
    font-size: 13px;
    margin: 0 5px;
    padding: 7px 12px;
    border: 0.5px solid rgba(102, 102, 102, 0.509);
    border-radius: 15px;
    background-color: rgba(129, 129, 129, 0.067);
}
/*양 옆 상점들을 크게 두르고 있는 박스*/
.store-container{
    margin-top: 2rem;
}
/*양 옆 상점들을 크기에 맞게 두르고 있는 박스*/
.store_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
/* 상점 하나를 크기에 맞게 두르고 있는 박스 */
.store_box{
    width: 50%;
    display: list-item;
}
/* 상점 사진과 정보들을 두르고 있는 박스 */
.store_info{
    width: 100%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    align-items: flex-start;
    overflow: hidden;
}
/* 상점 사진 부분 */
.store_picture{
    width: 5rem;
    height: 5rem;
    float: left;
    margin: 0.5rem 1rem 0 0 ;
    background-color: rgb(125,125,0);
    border-radius: 5rem;
}
/* 상점 정보들 */
.store-content{
    flex-direction: column;
    align-items: flex-start;
}
.store-content_name{
    font-weight: 700;
    line-height: 2rem;
}
.store-content_info{
    line-height: 1.3rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.store-content_review{
    line-height: 1.4rem;
    font-size: 0.8rem;
    color: #aeaeae;
}

@media screen and (max-width: 720px){
    .main-info_name{
        font-size: 1.5rem;
        padding: 3rem 0 1.5rem;
    }
    .main-info_list li{
        font-size: 10px;
        margin: 0 2px;
        padding: 4px 9px;
    }
}