body{
    width: 698px;
    margin: 20px 63px 20px;
}

#header_box{
    width: 700px;
    height: 330px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

#header{
    height: 65px;
    padding: 15px 15px 15px;
    margin: 0px;
}

.name{
    margin: 0px;
}

#small_header{
    padding: 10px 0px 20px 10px;
}

.content{
    font-size: 19px;
    font-weight: 500;
}

#profile{
    margin-right: 5px;
    padding: 0px 12px 0px;
    border: 1.5px solid rgb(131, 196, 239);
    border-radius: 15px;
}

#web{
    margin-right: 5px;
    padding: 0px 12px 0px;
    border: 1.5px solid rgb(131, 196, 239);
    border-radius: 15px;
    background-color: rgb(131, 196, 239);
}

a{
    color: black;
    text-decoration-line: none;
}

hr{
    margin: 0px;
}

#main_box{
    box-sizing: border-box;
    height: 180px;
}

#main{
    height: 140px;
    padding: 20px 0px 20px;
}

.img{
    width: 100px;
    padding-left: 9%;
    padding-right: 9%;
}

#site_text{
    padding: 12px 0px 12px;
}

.text{
    padding-left: 12%;
    padding-right: 12%;
}