/* 전체적인 틀 */
*{
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

/* 전체화면(채팅방 배경화면) */
.full-screen{
    height: 100%;
    background-color: #c8edff;
}

/* 채팅방 정보 */
.chat-info_screen{
    height: calc(100% - 90px);
}
.chat-info_screen-bar{
    background-color: white;
    padding: 16px;
    height: 80px;
}
.room-info_picture{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #c8edff;
}
.room-info{
    float: left;
}
.room-info_name, .room-info_count{
    margin: 5.5px;
}
.room-info_name{
    font-size: 12px;
}
.room-info_count{
    font-size: 10px;
    color: gray;
}

/* 메세지 보내는 곳 */
.chat-form{
    height: 90px;
    background-color: #ffffff;
}
.chat-form-text{
    float: left;
    width: calc(100% - 90px);
    height: 90px;
    resize: none;
    border: none;
    font-size: 12px;
    padding: 10px;
}
.chat-form-text:focus{
    outline: none;
}


/* 전송 버튼 */
.chat-form-button{
    margin: 25px 10px;
    float: right;
    width: 60px;
    height: 40px;
    border-width: 0px;
    border-color: rgb(103, 186, 245);
    border-radius: 15px;
    background-color: #7dd2fd;
    font-size: 12px;
}
.chat-form-button:active{
    background-color: #4cabdb;
}