/* 전체적인 틀 */
*{
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
}
body{
    height: 100vh;
}

/* 전체화면(채팅방 배경화면) */
.full-screen{
    height: 100vh;
    background-color: #c8edff;
}

/* 채팅방 정보 */
.chat-info_screen{
    height: calc(100% - 120px);
}
.chat-info_screen-bar{
    background-color: white;
    padding: 15px;
    height: 100px;
}
.room-info_picture{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: #c8edff;
}
.room-info{
    float: left;
}
.room-info_name, .room-info_count{
    margin: 3px 0 8px 17px;
}
.room-info_name{
    font-size: 17px;
}
.room-info_count{
    font-size: 15px;
    color: gray;
}

/* 메세지 보내는 곳 */
.chat-form{
    height: 120px;
    background-color: #ffffff;
}
.chat-form-text{
    float: left;
    width: calc(100% - 120px);
    height: 90px;
    resize: none;
    border: none;
    font-size: 20px;
    padding: 20px;
}
.chat-form-text:focus{
    outline: none;
}


/* 전송 버튼 */
.chat-form-button{
    margin: 35px 15px;
    float: right;
    width: 80px;
    height: 60px;
    border-width: 0px;
    border-color: rgb(103, 186, 245);
    border-radius: 15px;
    background-color: #7dd2fd;
    font-size: 20px;
}
.chat-form-button:active{
    background-color: #4cabdb;
}